<ul>
{{#each model as |legislator|}}
<li>{{legislator.first_name}} {{legislator.last_name}}'s <a href="https://www.youtube.com/user/{{legislator.youtube_id}}">youtube Channel</a>
<a href="https://www.twitter.com/{{legislator.twitter_id}}">Tweet</a></li>
<a href="/committee/{{legislator.bioguide_id}}" >Click here to check the committees {{legislator.first_name}} {{legislator.last_name}} is involved in.</a>
<li><a href="/bills/{{legislator.party}}">Bills sponsored by {{legislator.first_name}}'s party</a></li>
{{/each}}
</ul>
